---
layout: default
---
{% if content != "" %}
	<p>{{ content }}</p>
{% endif %}
<div id="menu">
	{% assign has_diet_v = false %}
	{% assign has_diet_vo = false %}
	{% assign has_diet_vg = false %}
	{% assign has_diet_vgo = false %}
	{% assign has_diet_gf = false %}
	{% assign has_diet_pesc = false %}
	{% assign has_diet_df = false %}

	{% for section in page.sections %}
		{% unless forloop.first %}
			<hr>
		{% endunless %}
		<h1>{{ section.title | upcase }}</h1>
		<p>{{ section.time }}</p>
		<div id="{{ section.title }}">
			{% for heading in section.headings %}
				{% if heading.name %}
					<h2>{{ heading.name }}</h2>
				{% endif %}
				{% for food in heading.foods %}
					<div onclick=""> <!-- onclick lets iOS recognise hover events -->
						<h2>{{ food.name }}
							{% if food.price %}
								<span class="foodPrice">${{ food.price }}</span>
							{% endif %}

							{% for diet in food.diets %}
								{% if diet == "v" %}
									{% assign diet_name = "Vegetarian" %}
									{% assign has_diet_v = true %}
								{% elsif diet == "vo" %}
									{% assign diet_name = "Vegetarian option" %}
									{% assign has_diet_vo = true %}
								{% elsif diet == "vg" %}
									{% assign diet_name = "Vegan" %}
									{% assign has_diet_vg = true %}
								{% elsif diet == "vgo" %}
									{% assign diet_name = "Vegan option" %}
									{% assign has_diet_vgo = true %}
								{% elsif diet == "gf" %}
									{% assign diet_name = "Gluten free" %}
									{% assign has_diet_gf = true %}
								{% elsif diet == "gfo" %}
									{% assign diet_name = "Gluten free option" %}
									{% assign has_diet_gfo = true %}
								{% elsif diet == "p" %}
									{% assign diet_name = "Pescatarian" %}
									{% assign has_diet_p = true %}
								{% elsif diet == "po" %}
									{% assign diet_name = "Pescatarian option" %}
									{% assign has_diet_po = true %}
								{% elsif diet == "df" %}
									{% assign diet_name = "Dairy free" %}
									{% assign has_diet_df = true %}
								{% elsif diet == "dfo" %}
									{% assign diet_name = "Dairy free option" %}
									{% assign has_diet_dfo = true %}
								{% endif %}

								<span class="dietIcon {{ diet }}" title="{{ diet_name }}">{{ diet }}</span>
							{% endfor %}

							{% if food.vegan %}
								{% assign has_vegan = true %}
								<img src="{{ '/assets/images/menu/diet/vegan.png' | relative_url }}" class="dietIcon" title="Vegan" alt="Vegan">
							{% endif %}
							{% if food.gluten_free %}
								{% assign has_gluten_free = true %}
								<img src="{{ '/assets/images/menu/diet/glutenFree.png' | relative_url }}" class="dietIcon" title="Gluten free" alt="Gluten free">
							{% endif %}
						</h2>
						<p>{{ food.description }}</p>
						{% if food.options.size > 0 %}
							<ul>
								{% for option in food.options %}
									<li>{{ option.name }}{% if option.price %}<span>${{ option.price }}</span>{% endif %}</li>
								{% endfor %}
							</ul>
						{% endif %}
						{% if page.images %}
							{% assign slugified_food_name = food.name | slugify %}
							<img src="{{ '/assets/images/menu/' | append: slugified_food_name | append: '.webp' | relative_url }}" alt="{{ food.name }}">
						{% endif %}
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	{% endfor %}
</div>
{% if has_diet_v or has_diet_vo or has_diet_vg or has_diet_vgo or has_diet_gf or has_diet_gfo or has_diet_p or has_diet_po or has_diet_df or has_diet_dfo %}
	<div id="menuKey">
		{% if has_diet_v %}
			<span class="dietIcon v">v</span>: Vegetarian
		{% endif %}
		{% if has_diet_vo %}
			<span class="dietIcon vo">vo</span>: Vegetarian option
		{% endif %}
		{% if has_diet_vg %}
			<span class="dietIcon vg">vg</span>: Vegan
		{% endif %}
		{% if has_diet_vgo %}
			<span class="dietIcon vgo">vgo</span>: Vegan option
		{% endif %}
		{% if has_diet_gf %}
			<span class="dietIcon gf">gf</span>: Gluten free
		{% endif %}
		{% if has_diet_gfo %}
			<span class="dietIcon gfo">gfo</span>: Gluten free option
		{% endif %}
		{% if has_diet_p %}
			<span class="dietIcon p">p</span>: Pescatarian
		{% endif %}
		{% if has_diet_po %}
			<span class="dietIcon po">po</span>: Pescatarian option
		{% endif %}
		{% if has_diet_df %}
			<span class="dietIcon df">df</span>: Dairy free
		{% endif %}
		{% if has_diet_dfo %}
			<span class="dietIcon dfo">dfo</span>: Dairy free option
		{% endif %}
	</div>
{% endif %}
{% if page.warning %}
	<p id="warning">{{ page.warning }}</p>
{% endif %}